<div
  class="flex justify-center items-center flex-col bg-black2 md:grid md:grid-cols-2 md:grid-rows-3"
>
  <div
    class="mt-[5.2rem] mb-[4.8rem] mx-[11.6rem] md:flex md:justify-start md:w-[80%] md:m-[5.2rem]"
  >
    <img src="../../assets/logo.svg" alt="" />
  </div>
  <div
    class="flex justify-center items-center flex-col md:flex md:justify-end md:items-center md:flex-row"
  >
    <a
      class="no-underline text-white font-bold text-[1.3rem] leading-10 tracking-[.2rem] h-[2.4rem] mb-[1.6rem] md:p-[2rem]"
      href="/home"
      >HOME</a
    >
    <a
      href="/headphones"
      class="no-underline text-white font-bold text-[1.3rem] leading-10 tracking-[.2rem] h-[2.4rem] mb-[1.6rem] md:p-[2rem]"
      >HEADPHONES</a
    >
    <a
      href="/speakers"
      class="no-underline text-white font-bold text-[1.3rem] leading-10 tracking-[.2rem] h-[2.4rem] mb-[1.6rem] md:p-[2rem]"
      >SPEAKERS</a
    >
    <a
      href="/earphones"
      class="no-underline text-white font-bold text-[1.3rem] leading-10 tracking-[.2rem] h-[2.4rem] mb-[1.6rem] md:p-[2rem] md:mr-[16.5rem] md:pr-0"
      >EARPHONES</a
    >
  </div>
  <div
    class="text-center my-[4.8rem] font-medium text-[1.5rem] leading-[2.5rem] text-white opacity-50"
  >
    <p class="md:text-start md:my-0 md:mr-[.8rem] md:ml-[5.2rem]">
      Audiophile is an all in one stop to fulfill your audio needs. We're a
      small team of music lovers and sound specialists who are devoted to
      helping you get the most out of personal audio. Come and visit our demo
      facility - we’re open 7 days a week.
    </p>
  </div>
  <div
    class="text-white opacity-50 h-[2.5rem] font-bold text-[1.5rem] leading-[2.5rem] mb-[4.8rem] md:row-start-3 md:mt-0 md:mr-0 md:mb-[4.8rem] ml-[5.2rem]"
  >
    Copyright 2021. All Rights Reserved
  </div>
  <div class="flex justify-center items-center flex-row mb-[3.8rem] md:justify-end">
    <a class="md:p-[.8rem]" href="https://www.facebook.com">
      <img class="p-0" src="../../assets/facebook.svg" alt="facebook" />
    </a>
    <a class="md:p-[.8rem]" href="https://twitter.com/home">
      <img class="p-0" src="../../assets/twitter.svg" alt="twitter" />
    </a>
    <a class="md:p-[.8rem] md:pr-[16.5rem]" href="https://www.instagram.com">
      <img class="p-0" src="../../assets/instagram.svg" alt="instagram" />
    </a>
  </div>
</div>
