<div class="flex justify-center items-center flex-col w-full mx-0 my-48 md:flex md:items-center md:justify-between md:h-[58.8rem] md:flex-row-reverse md:mx-0 md:my-[2rem]">
  <div
    class="bg-location-img bg-center bg-cover bg-no-repeat w-full h-[30rem] rounded-[.8rem] mb-16 md:h-full md:rounded-[.8rem] md:m-0 md:bg-center md:w-[50%]"
  ></div>
  <div class="flex justify-center items-center flex-col md:flex md:justify-start md:flex-col md:w-[50rem] md:text-start md:max-w-[44.5rem]">
    <h2
      class="h-full text-[2.8rem] leading-[3.8rem] text-center tracking-[.1rem] uppercase mb-[3.2rem] md:font-bold md:text-[4rem] md:leading-[4.4rem] md:tracking-[.14rem] md:uppercase md:text-left md:h-full"
    >
      Bringing you the <span class="text-orange2">best</span> audio gear
    </h2>
    <p class="text-[1.5rem] leading-[2.5rem] text-center opacity-50 md:font-medium md:text-[1.5rem] md:leading-[2.5rem] md:opacity-50 md:text-start">
      Located at the heart of New York City, Audiophile is the premier store for
      high end headphones, earphones, speakers, and audio accessories. We have a
      large showroom and luxury demonstration rooms available for you to browse
      and experience a wide range of our products. Stop by our store to meet
      some of the fantastic people who make Audiophile the best place to buy
      your portable audio equipment.
    </p>
  </div>
</div>
